$main-dark-color: #2c2c2c;
$main-light-color: #f2f6fa;
$blue-color-accent: #2060f6;
$heading-color: #253757;
$main-text-color: #6c788b;
$secondary-text-color: #c0cdd7;
$tablet-min-width: 640px;
$small-desktop-min-width: 1024px;
$desktop-min-width: 1280px;
$large-screen-min-width: 2560px;
